In [4]:
import pandas as pd

In [5]:
df = pd.read_excel(r"C:\Users\aldan\OneDrive\Desktop\Data Analyst Bootcamp\Python Files\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
# Drop duplicates 
df.drop_duplicates(inplace = True)

In [7]:
# Drop unnecessary columns 
df.drop('Not_Useful_Column', axis = 1, inplace = True)

In [8]:
# Remove numeric values and special characters "Last_Name" column 
df['Last_Name'] = df['Last_Name'].str.strip('123._/')

In [9]:
# Remove non-alphanumeric characters from "Phone_Number" columns 
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','', regex = True)

In [10]:
# Convert "Phone_Number" column to string format 
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))

In [11]:
# Format numbers as "123-456-7890"
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

In [12]:
# Remove values that are not phone numbers 
df['Phone_Number'] = df['Phone_Number'].str.replace('nan--','')
df['Phone_Number'] = df['Phone_Number'].str.replace('Na--','')

In [13]:
# Split "Address" column into separate columns 
df[['Street_Address', 'State', 'Zip_Code']] = df['Address'].str.split(',', expand = True)

In [14]:
# Standardize "Paying Customer" column 
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y').str.replace('No','N')

In [15]:
# Standardize "Do_Not_Contact" column 
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y').str.replace('No','N')

In [16]:
# Remove all invalid values 
df.replace('N/a', '', inplace = True)
df.fillna('', inplace = True)

In [17]:
# Remove all entries for customers who did not provide a phone number or cannot be contacted 
df = df[(df['Do_Not_Contact'] != 'Y') & (df['Phone_Number'] != '')]

In [18]:
# Drop "Address" column 
df.drop('Address', axis = 1, inplace = True)

C:\Users\aldan\AppData\Local\Temp\ipykernel_21476\103369742.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Address', axis = 1, inplace = True)

In [19]:
# Reset index 
df.reset_index(inplace =  True, drop = True)

In [20]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
3,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
4,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
5,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
6,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
7,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,